/* ==========================================================================
   Base Button
   ========================================================================== */
=alternative-button-skin
  &[class='btn-positive']
    background-color: $positive-secondary-alt-color
    &:hover,
    &:active
      background-color: $positive-primary-color

=linkify
  display: inline
  border: none
  background-color: transparent
  text-decoration: underline

  &[class='btn-positive']
    color: $positive-primary-color
    &:hover,
    &:active
      color: $positive-hover-color

  &[class='btn-negative']
    color: $negative-primary-color
    &:hover,
    &:active
      color: $negative-hover-color

%btn
  display: inline-block
  width: $btn-width-mobile
  height: $btn-height
  border: 1px solid
  text-align: center
  text-decoration: none
  line-height: $btn-height
  cursor: pointer
  outline: 0
  +at-least($lap-start)
    width: $btn-width

.btn-positive
  @extend %btn
  border-color: $positive-primary-color
  background-color: $positive-secondary-color
  color: $positive-primary-color
  &:hover,
  &:active
    border-color: $positive-primary-color
    background-color: $positive-primary-color
    color: $positive-secondary-color

.btn-negative
  @extend %btn
  border-color: $negative-primary-color
  background-color: $negative-primary-color
  color: $negative-secondary-color
  &:hover,
  &:active
    border-color: $negative-hover-color
    background-color: $negative-hover-color
    color: $negative-secondary-color

.link
  text-decoration: underline

.bold-link
  font-weight: bold
