.borrowed-books,
.book-gallery
  max-width: 100%

  .media-image
    padding: 0

  .book-item,
  .book-action
    display: inline-block

  .book-item
    width: calc(100% - #{$btn-width-mobile})
    vertical-align: top

.book-gallery > li
  padding: $base-spacing 0

.borrowed-books
  > li
    padding: $base-spacing
  .book-item
    line-height: $btn-height
    .book-title
      margin: 0
