.borrowed-books,
.book-gallery
  max-width: 100%

  .media-image
    display: none
    > img
      width: $large-cover-width
      height: $large-cover-height

  .book-item,
  .book-action
    display: inline-block

  .book-item
    width: calc(100% - #{$btn-width-mobile})
    padding-right: $base-spacing
    vertical-align: middle

.book-gallery
  li
    padding: $base-spacing 0
  .book-item
    height: $btn-height
    vertical-align: top

.borrowed-books
  li
    padding: $base-spacing

@media screen and (min-width: $lap-start)
  .borrowed-books,
  .book-gallery
    .media-image,
    .book-item,
    .book-action
      display: block
    .book-item
      width: 100%
      padding-right: 0
  .borrowed-books
    .book-action [class^="btn"]
      +linkify
