.logo
  height: inherit
  display: inline-block
  width: calc(100% - #{$menu-toggle-width})
  vertical-align: top
  
.logo .helper
  display: inline-block
  height: 100%
  vertical-align: middle

.logo .logo-link
  display: inline-block
  margin-left: 1rem
  vertical-align: middle
