.review
  margin-bottom: $spacing-double

.review-header
  margin-bottom: $spacing-half

.review-body
  margin-bottom: $base-spacing
  word-wrap: break-word

.review-header
  display: flex
  justify-content: space-between

+at-least($lap-start)
  $left-margin: calc(#{$small-avatar-size} + #{$spacing-half})
  .review-header
    +clearfix
    display: block
    .media
      margin-bottom: $spacing-half
    .rating
      margin-left: $left-margin

  .review-body
    margin-left: $left-margin
