/* ==========================================================================
   Side content
   * Logo
   * Menu
   ========================================================================== */

.side-content
  height: $header-height

.logo-wrap
  height: inherit
  .logo
    width: calc(100% - #{$menu-toggle-width})

.menu-toggle-wrap
  display: inline-block
  width: $menu-toggle-width

.menu-wrap
  background-color: $menu-primary-bg
  overflow-y: hidden
  max-height: $lap-start
  +transition-property(max-height)
  +transition-duration(0.5s)
  +transition-timing-function(cubic-bezier(0, 1, 0.5, 1))

.menu-wrap.collapsed
  max-height: 0

.menu-wrap .close-menu
  padding-top: $base-spacing
  padding-bottom: $base-spacing
  text-align: center
  a
    text-decoration: none
    color: $positive-primary-color

+at-least($lap-start)
  .logo-wrap
    .logo
      width: 100%
