$vertical-padding: ($user-profile-menu-height - $user-picture-max-size)/2

.user-profile-menu
  padding: $vertical-padding $base-spacing
  height: $user-profile-menu-height

  .media-image
    max-width: $user-picture-max-size

  .media-body
    padding-top: calc(#{$user-picture-max-size}/2 - 0.5rem)
    overflow: visible
