.book-page
  position: relative
  padding: $base-spacing

  .book-image,
  .book-stats
    display: inline-block
    vertical-align: top

  .book-image > img
    max-width: $image-width

  .book-action
    position: absolute
    top: $base-spacing
    right: $base-spacing
