/* ==========================================================================
   Standard form
   ========================================================================== */

.text input,
.text textarea,
.select select
  @extend %form-field-style
  width: 100%

fieldset
  padding: 0
  margin: 0
  border: 0
  > label + .text
    margin-bottom: $base-spacing
  input.error
    padding-left: $base-spacing
    margin-bottom: calc(#{$base-spacing}/2)
