/* ==========================================================================
   Striped List
   ========================================================================== */

.list-striped > li
  padding: 10px $mobile-horizontal-padding
  background-color: $menu-primary-bg
  &:nth-child(odd)
    background-color: $menu-secondary-bg
