/* Colors
   ========================================================================== */
$white: #fff
$soft-grey: #f3f6f7
$grey: #83929a
$soft-blue: #b8cfdb
$green: #31bf76

/* Typography
   ========================================================================== */
$nano-size: 24px
$micro-size: 16px
$milli-size: 16px
$base-font-size: 16px
$kilo-size: 14px
$milli-size: 13px

$base-font-family: Source Sans Pro, HelveticaNeue, Georgia, serif
$secondary-font-family: Futura LT, Arial, sans-serif

$base-line-height: 1.5
//vertical spacing
$base-spacing: $base-line-height+em

$base-text-color: $grey

/* Grid
   ========================================================================== */
// Mobile-first Magic Grid
$total-columns: 7
$column-width: 4em
$gutter-width: 1em
$grid-padding: $gutter-width
$break: 12

/* Link
   ========================================================================== */
$link-color: $base-text-color
$link-hover-color: darken($base-text-color, 5%)

/* Form
   ========================================================================== */
$form-field-bg: $soft-grey
$form-field-border: 0

/* Button
   ========================================================================== */
$btn-positive-color: $green
$btn-positive-bg: $white
$btn-positive-border: $green
$btn-negative-color: $white
$btn-negative-bg: $grey
$btn-negative-border: $grey

/* Template
   ========================================================================== */
$body-bg: $white
$logo-bg: $grey
$topbar-bg: $soft-grey
$sidebar-primary-bg: $soft-grey
$sidebar-secondary-bg: $soft-blue
