/* Colors
   ========================================================================== */
$white: #fff
$soft-grey: #f3f6f7
$grey: #83929a
$dark-grey: darken($grey, 5%)
$soft-blue: #e8f0f2
$green: #31bf76
$dark-green: darken($green, 5%)

/* Typography
   ========================================================================== */
$base-font-size: 16px
$nano-size: 0.8125rem
$micro-size: 0.875rem
$milli-size: 1rem
$kilo-size: 1.125rem
$mega-size: 1.375rem

$base-font-family: "source-sans-pro", "HelveticaNeue", Georgia, serif
$secondary-font-family: "futura-PT", Arial, sans-serif

$base-line-height: 1
$base-spacing: 1rem
$spacing-double: $base-spacing * 2
$spacing-triple: $base-spacing * 3
$spacing-half: $base-spacing / 2

$base-text-color: $grey

/* Link
   ========================================================================== */
$link-color: $grey
$link-hover-color: $dark-grey

/* Form
   ========================================================================== */
$field-background: $soft-grey
$form-field-border: 0
$required-field-asterisk-width: 1rem

/* Button
   ========================================================================== */
$positive-primary-color: $green
$positive-secondary-color: $white
$positive-hover-color: $dark-green
$positive-secondary-alt-color: $soft-grey

$negative-primary-color: $grey
$negative-secondary-color: $white
$negative-hover-color: $dark-grey

$menu-toggle-width: 85px
$menu-toggle-icon-max-width: 35px
$menu-toggle-icon-height: 5px

$btn-width-mobile: 4.3rem
$btn-width: 7.5rem
$btn-height: 2.5rem

/* Images
   ========================================================================== */
$signout-picture-size: 25px
$small-avatar-size: 25px
$large-avatar-size: 50px
$small-cover-width: 50px
$small-cover-height: $small-cover-width * 1.25
$large-cover-width: 100px
$large-cover-height: $large-cover-width * 1.25

/* Template
   ========================================================================== */
$body-bg: $white
$side-content-bg: $grey
$menu-primary-bg: $soft-grey
$menu-secondary-bg: $soft-blue
$top-bar-bg: $soft-grey

$header-height: 4.3rem
$footer-height: 3.4rem
$laptop-header-height: 6.25rem
$logo-size: 5rem
$laptop-logo-size: 8rem
$laptop-sign-in-content-width: 28rem
$user-profile-menu-height: 8.1rem
$search-bar-min-width: 15rem
$search-bar-height: 3.75rem
$side-content-width: 248px
$main-content-padding: 48px
$gallery-item-width: 375px
$gallery-max-columns: 4
$gallery-max-width: ($gallery-item-width + $base-font-size) * ($gallery-max-columns - 1) + $gallery-item-width

/* Breakpoints
   ========================================================================== */
$lap-start: ($side-content-width + $main-content-padding*2 + $gallery-item-width) - 1
