<li class="media">
  <div class="media-image">
    <a href="<%%= path %>">
      <img src="<%%= cover_path %>">
    </a>
  </div>
  <div class="media-body">
    <a class="book-item" href="<%%= path %>">
      <div class="book-title milli truncate"><%%= title %></div>
      <div class="book-authors small truncate"><%%= authors %></div>
      <div class="book-stats">
        <%%= rating_show %>
        <div class="link book-total-reviews"><%%= total_reviews %></div>
      </div>
    </a>
    <div class="book-action">
      <%%= action %>
    </div>
  </div>
</li>
